*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Mukta;
	display: grid;
	place-items: center;
	margin: 0;
	background-color: #99d6cc;
	height: 100vh;
}

.calculator-grid {
	background-color: #2e3951;
	padding: 10px;
	border-radius: 25px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 4em);
	grid-template-rows: minmax(7rem, auto) repeat(5, 4em);
}

.output {
	border-radius: 20px;
	grid-column: 1 / -1;
	background-color: #212b41;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 0.85rem;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: #99d6cc;
	font-size: 1rem;
}

.output .current-operand {
	color: #0db387;
	font-size: 2rem;
}

.calculator-grid > button {
	font-family: inherit;
	cursor: pointer;
	font-size: 2rem;
	border: none;
	outline: none;
	border-radius: 100%;
	background-color: transparent;
	color: whitesmoke;
	transition: background-color 0.2s, color 0.2s;
}

.operand.backspace {
	display: grid;
	place-items: center;
	fill: #0db387;
}

button.span-two {
	background-color: #212b41;
	grid-column: span 2;
	border-radius: 100vmax;
}

button.operand {
	background-color: #212b41;
	color: #0db387;
}

.span-two.evaluate {
	background-color: #0db387;
	color: #212b41;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
	background-color: #0db387;
	color: #212b41;
}
.calculator-grid > .operand:hover,
.calculator-grid > .operand:focus {
	background-color: #0db387;
	color: white;
}

.calculator-grid > .evaluate:hover,
.calculator-grid > .evaluate:focus {
	background-color: #99d6cc;
}

.operand.backspace:hover,
.operand.backspace:focus {
	background-color: #99d6cc;
}
